/* палітра кольорів
основний котлір текст colour: #757575
додатковий колір текст colour: #212121
основний колір фон background-colour: #F5F5F5
додатковий колір фон background-colour: #F5F4FA
акцентний колір background-colour: #2196F3
акцентний колір colour: #FFFFFF
колір лого чорний colour: #000000*/

:root{--primary-text-color: #757575;
--title-text-color: #212121;
--accent-color: #ffffff;
--primary-background-color: #f5f5f5;
--additional-background-color: #F5F4FA;
--accent-background-color: #2196F3;
--logo-color: #000000;
--hero-background-color:#2F303A;}

body{
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);
    font-family: 'Roboto', sans-serif;
    font-style: normal;}

    /* header-nav */
    .header{background-color: var(--accent-color);}
    .logo{color: var(--logo-color);
                text-decoration: none;
                font-family: 'Raleway', sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 26px;
                line-height: 1.19;
                letter-spacing: 0.03em;}
    span{color: var(--accent-background-color);}
    ul{list-style: none;}
    .header-list, .contact{font-weight: 500;
                            font-size: 14px;
                            line-height: 1.14;
                            letter-spacing: 0.02em;}
    .header-item > a{color: var(--title-text-color);
                    text-decoration: none;}
    .header-item > a:hover, .header-item > a:focus{color: var(--accent-background-color);}
    .header-list .current{color: var(--accent-background-color);}

    /* header-contacts */
    .contact > a{color: var(--primary-text-color);
                text-decoration: none;}
    .contact > a:hover, .contact > a:focus{color: var(--accent-background-color);}

    /* hero */
    .hero{background-color: var(--hero-background-color);}
    .hero-header{color: var(--accent-color);
                font-weight: 900;
                font-size: 44px;
                line-height: 1.36;       
                text-align: center;
                letter-spacing: 0.06em;
                text-transform: uppercase;}
    .button-primary{color: var(--accent-color);
                background-color: var(--accent-background-color);
                border: none;
                font-weight: 700;
                font-size: 16px;
                line-height: 1.88;
                display: flex;
                align-items: center;
                text-align: center;
                letter-spacing: 0.06em;}

    /* section */
    .section-title{color: var(--title-text-color);
                    font-weight: 700;
                    font-size: 36px;
                    line-height: 1.17;
                    text-align: center;
                    letter-spacing: 0.03em;}
    .features{color: var(--title-text-color);
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 1.14;
                    letter-spacing: 0.03em;
                    text-transform: uppercase;}
    .features-description{font-weight: 400;
                    font-size: 14px;
                    line-height: 1.71;        
                    letter-spacing: 0.03em;}
    .hidden{display: none;}
    .name{color: var(--title-text-color);
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 1.19;       
                    text-align: center;
                    letter-spacing: 0.03em;}
    .team{background-color: var(--additional-background-color);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.19;
                    text-align: center;
                    letter-spacing: 0.03em;}

    /* footer */
    .footer .logo{color: var(--accent-color);}
    .footer-address > a{color: var(--accent-color);
                    text-decoration: none;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 1.71;
                    letter-spacing: 0.03em;}
    .footer-e-mail > a, .footer-phone-number > a{color: rgba(255, 255, 255, 0.6);
                                        text-decoration: none;
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 14px;
                                        line-height: 1.71;
                                        letter-spacing: 0.03em;}
    .footer{background-color: var(--hero-background-color);}
  
    /* portfolio-styles */
    
    /* section-projects*/
    .button{color: var(--title-text-color);
            background-color:var(--additional-background-color) ;
            border: none;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.62;
            text-align: center;
            letter-spacing: 0.03em;}
    .button:hover, .button:focus{color: var(--accent-color);
        background-color: var(--accent-background-color);
        border: none;}
    .projects{background-color: var(--primary-background-color);}
    .project-title{color: var(--title-text-color);
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 2;
                    letter-spacing: 0.06em;}
    .project-description{color: var(--primary-text-color);
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.88;
                    letter-spacing: 0.03em;}
    .project-item > a{text-decoration: none;}

    /* шрифти:
    raleway 700
    roboto  400
            500
            700
            900
     */